.primary {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.secondary {
    background-color: var(--color-grey);
    color: var(--color-title);
}

.primary-footer {
    color: var(--color-white)
}