.button {
    min-width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;    
    border-radius: 4px;
    cursor: pointer;    
    border-color: transparent;
    background-color: var(--color-accent);
    color: var(--color-white);

    transition: box-shadow var(--cubic-250);
        &:hover, &:focus {
        outline: transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    }                
.button--primary {
    width: 216px;
    &:hover, &:focus {
        outline: transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
.button--footer {
    @include flex-centered;
    margin-left: 12px;
    flex-wrap: wrap;
    gap: 10px;
    fill: currentColor;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: box-shadow var(--cubic-250);
    }
}

.button--modal {
    @include flex-centered;
    margin-right: auto;
    margin-left: auto;
    &:hover,
    &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            transition: box-shadow var(--cubic-250);
        }
}

