.page--employ {
    @media screen and (max-width: $desctop)  {
                display: none; }
    padding-top: 0;
}
.select-employ {
    @include flex-centered;
    flex-wrap: wrap;
    gap: 30px;
}
.select-employ__item {
    flex-basis: calc((100% - 60px)/3);
}

.select-employ__item {
    position: relative;
    z-index: 1;
}

.select-employ__image {
    margin-bottom: 0;
}
.select-employ__title {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: rgba(47, 48, 58, 0.8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}