/* Modal-wind */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 100;
    transition: opacity var(--cubic-250);

}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.6);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--cubic-250);
        @media screen and (max-width: 479px) {
                width: calc(100% - 30px);}
        
        @media screen and (min-width: $desctop) {
                width: 528px;
                height: 581px;
            }
}

.close-button {
    @include flex-centered;
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-white);

    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill var(--cubic-250);
    &:hover, &:focus {
        fill: var(--color-accent);
        outline: transparent;
    }
}


/* Modal-form */
.form {
    padding: 40px 40px;
    color: var(--color-title);
}

.form-title {
    display: block;
    margin-top: 0;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.form-field {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-field label {
    margin-bottom: 4px;
    text-align: left;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--color-text);
}

.form-field input {
    height: 40px;
    padding: 11px 12px 11px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    fill: currentColor;
    background-color: transparent;
    transition: border-color var(--cubic-250),
        fill-color var(--cubic-250);
        &:hover, &:focus {
        border: 1px solid var(--color-accent);
        cursor: pointer;
        outline: transparent;
        }            
    }

.form-field input:hover+.icon-form,
.form-field input:focus+.icon-form {
    fill: var(--color-accent);
}

.icon-form {
    position: absolute;
    bottom: 11px;
    left: 12px;
    z-index: -1;
}

.form-field.comment textarea {
    height: 120px;
    padding: 12px 16px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgb(117, 117, 117);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    &:hover,
    &:focus {
    border: 1px solid var(--color-accent);
    outline: transparent;
    transition: border-color var(--cubic-250);        
    }
}

.policy {
    margin-top: 20px;
    margin-bottom: 30px;
   text-align: center; 
}

.policy label {
    font-size: 12px;
    line-height: 1.17;
    color: var(--color-text);        
    @media screen and (min-width: $desctop) {
    font-size: 14px;
    line-height: 1.71;}

}

.policy-link {
    margin-left: 4px;
    color: var(--color-accent);
    text-decoration: underline;
    &:focus {
    margin-left: 4px;
    color: var(--color-accent);
    outline: 1px solid var(--color-icon);
    }
}



.checkbox {
    appearance: none;
    position: absolute;

}

.check-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 16px;
    height: 15px;
    border: 1px solid #000000;
    border-width: 2px;
    border-radius: 2px;
    margin-right: 9px;
    vertical-align: middle;
}

.checkbox:checked+.check-icon {
    background-color: var(--color-accent);
    background-size: contain;
    background-origin: content-box;
    border-color: var(--color-accent);
}
.button--modal {
    @include flex-centered;
    margin-right: auto;
    margin-left: auto;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: box-shadow var(--cubic-250);
    }
}
