.select-projeckt {
    margin-bottom: 30px;
    @media screen and (min-width: $tablet) {
    display: flex;
        align-items: center;
 
            flex-wrap: wrap;
            gap: 30px;
        }
         @media screen and (min-width: $desctop) {
             justify-content: center;  
         }
}
.select-button {
    display: flex;
    margin-bottom: 40px;
    @media screen and (max-width: $pre-tablet) {
            flex-wrap: wrap;
        }
        @media screen and (min-width: $tablet) {
            margin-bottom: 30px;
            justify-content: center;}
        @media screen and (min-width: $desctop) {

            margin-bottom: 50px;}
}

/*.select-button__item:not(:last-child) {
    margin-right: 8px;
}*/

.select-button__item {
    @media screen and (max-width: $pre-tablet) {
    &:not(:last-child) {
        margin-right: 8px;
        margin-bottom: 15px;
    }
}
    @media screen and (min-width: $tablet) {
    &+& {margin-left: 8px;}
    }
}
.select-button__link {
    min-width: 73px;
    max-width: 130px;
    padding: 6px 22px;
    font-weight: 500;
    line-height: 1.63;
    font-size: 16px;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    transition: background-color var(--cubic-250),
        color var(--cubic-250);

    &:hover,
    &:focus {
        background-color: var(--color-accent);
        color: var(--color-white);
        outline: transparent;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        transition: box-shadow var(--cubic-250);
    }
}
.select-projeckt__item {
    flex-basis: 100%;
    @media screen and (min-width: $tablet) {
            max-width: 354px;
            flex-basis: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: $desctop) {
        max-width: 370px;
    flex-basis: calc((100% - 60px)/3);
    }
}
.select-projeckt__card {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
    transition: box-shadow var(--cubic-250);
    &:hover,
    &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline: transparent;
}    
}


.select-projeckt__image {
    margin-bottom: 0;
}

.select-projeckt__thumb {
    position: relative;
    overflow: hidden;
}

.select-projeckt__subtitle {
    @include font-style(700, 18px, 2, $space: 0.06em);
    margin: 0;
    color: var(--color-title);
    text-align: start;
    margin-bottom: 10px;
}

.select-projeckt__content {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
        
    @media screen and (min-width: $tablet) {
                margin-bottom: 0px;
                max-width: 354px;
            height: 146px;}
        @media screen and (min-width: $desctop) {
            margin-bottom: 0px;
            max-width: 370px;}
    background: var(--color-white);
    border: 1px solid var(--color-borders);
    border-top: none;
    padding: 20px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-text);
}

.select-projeckt__text {
    position: absolute;
    top: 1px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--color-white);

    transform: translateY(100%);
    transition: transform var(--cubic-250);
}

.select-projeckt__card:hover .select-projeckt__text,
.select-projeckt__card:focus .select-projeckt__text {
    transform: translateY(0);
    transition: var(--cubic-250);

}