.page--team {
    background-color: var(--color-grey);
}
.select-team {
    @media screen and (min-width: $tablet) {    
    display: flex;     
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    }
}
.select-team__item {
    margin-bottom: 30px;
    flex-basis: 100%;
    
        @media screen and (min-width: $tablet) {
            margin-bottom: 0px;    
            flex-basis: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: $desctop) {
    
            flex-basis: calc((100% - 90px) / 4);
        }
}

.select-team__item {
    background-color: var(--color-white);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.select-team__content {
    margin: 0;
    padding: 30px 0;
}
.select-team__subtitle {
    @include font-style(500, 16px, 1.19, $space: 0.03em);
    margin: 0;
    color: var(--color-title);
    text-align: center;
    margin-bottom: 10px;
}
.select-team__text {
    margin-bottom: 16px;
    }