/* Title */
.title-none {
    position: absolute;
    white-space: nowrap;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}
.title {
    @include font-style(700, 36px, 1.17, 0.03em);
    margin: 0;
    color: var(--color-title);
    text-align: center;
    margin-bottom: 50px;
}

/*
.title {
    @include font-style (700, 28px, 1.18);
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: $desctop) {
        @include font-style(700, 36px, 1.2);
        margin-bottom: 50px;
    }
}
*/
