:root {
    /* color */
    --color-white: #ffffff;
    --color-accent: #2196F3;
    --color-grey: #F5F4FA;
    --color-footer: #2F303A;
    --color-title: #212121;
    --color-text: #757575;
    --color-title: #000000;
    --color-rgba: rgba(255, 255, 255, 0.6);
    --color-borders: #EEEEEE;
    --color-line: #ECECEC;
    --color-icon: #AFB1B8;
    
    /* fonts */
    --font-main: "Roboto",
        sans-serif;
    --font-logo: "Raleway",
        sans-serif;
    
    /* Cubic*/
    --cubic-250: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

$mobile: 480px;
$pre-tablet: 767px;
$tablet: 768px;
$pre-desctop: 1199px;
$desctop: 1200px;